[Unit]
Description=Gunicorn daemon for CareerAI
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/CareerAI
ExecStart=/var/www/CareerAI/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          ai_resume_analyzer.wsgi:application

[Install]
WantedBy=multi-user.target
